body{
    background-color: #222;
}

#navbar{
    z-index: 1;
}

#smartnav{
    display: none;
}

#phone_nav{
    display: flex;
    flex-direction: row;
    /* align-items: auto; */
    margin-top: -30px;
    /* margin: auto; */
    /* gap: 16%; */
    border: #222;
    padding-top: 3px;
    background-color: #444444;
    /* opacity: 1; */
    position: sticky;
    top: 0px;
    bottom: 0px;
}

#phone_nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #777777;
    font-size: 17px;
    font-family: 'Rowdies';
    /* margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 11%; */
    margin: auto;
    max-width: 9%;
    min-width: 0%;
}

#phone_nav img{
    width: 40px;
    max-width: 40px;
    min-width: 10px;
}

#navbar .buttons .Login_button, .Signup_button {
    font-size: smaller;
}

/* earn derails */

#earn_details{
    background-image: url('../images/Earn details/phoneInHand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 461px;
    margin-top: -175px;
}

#earn_details .btn {
    margin-top: 667px;
}

#earn_details .h-primary {
    font-size: 25px;
    padding: 47px;
}

#earn_details p {
    font-size: 14px;
    padding: 18px;
}

/* earn how */

#earn_how {
    margin-top: -301px;
}

#earn_how div {
    flex-direction: column;
}

#earn_how .h-primary {
    font-size: 19px;
    padding-bottom: 20px;
}

#earn_how p {
    font-size: 14px;
    padding: 18px;
}

/* about us */

#about_us {
    margin-top: -3%;
}

#about_us .h-primary {
    font-size: 19px;
    padding-bottom: 22px;
}

#about_us p {
    font-size: 14px;
    padding: 18px;
}

#about_us .m1 {
    flex-direction: column;
}

#about_us div div p {
    font-size: 10px;
    padding: 3px;
}

#about_us .m1 div:not(.change1) {
    margin-top: 13%;
}

#about_us div {
    flex-direction: column;
}

#about_us div:not(.m1) div{
    margin-top: 18px;
}
/* footer details */

footer div div .social {
    margin-left: 23%;
    margin-top: 1%;
}
footer div div .about {
    margin-left: 4%;
    margin-top: 1%;
}
footer div div .support {
    margin-left: 8%;
    margin-top: 1%;
}
footer div .languages{
    margin-left: 8%;
    margin-top: -2%;
}
footer div #logo_footer img {
    margin: -2% 14%;
}

footer .center {
    display: none;
    font-size: smaller;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer #footer_section {
    margin-bottom: 30px;
    padding-bottom: 13px;
}

footer div div div, footer div div {
    font-size: smaller;
}

footer div div div ul li a {
    font-size: smaller;
}

footer #footer_section .languages .langdropdown .dropbtn {
    font-size: smaller;
    padding-top: 1px;
}

footer div #logo_footer img {
    margin: -2% 2%;
}